.details-container {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  color: #222222;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  flex-grow: 1;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.details-container h2 {
  margin: 0;
  width: 100%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.detail-section{
  flex-shrink: 0;
  flex-grow: 1;
}

.mission-statement {
  margin: 0;
  overflow: auto;
}

.data-label {
  font-weight: bold;
  font-size: .8rem;
  text-transform: uppercase;
  margin: 0;
}

.data {
  margin: 0;
  text-transform: capitalize;
}
