@import url('https://fonts.cdnfonts.com/css/alien-league-2');

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 0;
  height: 6rem;
  width: 100%;
  max-width: 1000px;
}

.nasa-logo {
  width: 3.8rem;
  height: 3.8rem;
  padding-top: 5px;
}

.header-logo {
  font-family: 'Alien League II';
  font-size: 3.5rem;
  color: #FFFFE7;
  margin: 0;
  text-align: center;
}

a {
  display: flex;
  align-items: center;
}

.header-logo-sm {
  font-size: 0.8rem;
  font-weight: bold;
  color: #FFFFE7;
  margin: 0;
  margin-right: 10px;
}

@media only screen and (max-width: 650px) {
  header {
    height: 5rem;
  }

  img {
    width: 3rem;
    height: 3rem;
  }

  .header-logo {
    font-size: 2.5rem;
  }
}
