@import url('https://fonts.cdnfonts.com/css/alien-league-2');

header {
  padding: 12px;
}

.header-logo {
  font-family: 'Alien League II';
  font-weight: bold;
  font-size: 4rem;
  color: #FFFFE7;
  margin: 0;
  text-align: center;
}
