.rover-link {
  cursor: pointer;
  transition: all .2s ease;
}

.rover-link:hover {
  scale: 1.1;
}

.rover-icon-img {
  width: 190px;
  height: 190px;
  border: 2px solid #FFFFE7;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.rover-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 0.5rem;
}

.rover-icon-name {
  margin: 0;
  font-family: 'Alien League II';
  font-weight: bold;
  color: #FFFFE7;
  font-size: 1.8rem;
  text-align: center;
}

.rover-icon-year {
  margin: 0;
  font-weight: bold;
  color: #ffffe77a;
  font-size: 0.8rem;
}

.placeholder {
  color: transparent;
}

@media only screen and (max-width: 850px) {
  .rover-icon-img {
    width: 150px;
    height: 150px;
  } 
}
