.rover-icon-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 3rem;
  overflow: auto;
  padding: 2rem;
  max-width: 1100px;
} 

@media only screen and (max-width: 425px) {
  .rover-icon-container {
    align-items: start;
    align-content: start;
    gap: 2rem;
    margin-top: 1rem;
  } 
}

@media only screen and (max-height: 599px) {
  .rover-icon-container {
    align-items: start;
    align-content: start;
    gap: 2rem;
    margin-top: 1rem;
  } 
}
