.gallery-grid {
  flex-shrink: 1;
  line-height: 0;
  -webkit-column-count: 5; 
  -webkit-column-gap: 12px;
  -moz-column-count: 5;
  -moz-column-gap: 12px;
  column-count: 5;
  column-gap: 12px;
}

.gallery-tile {
  border-radius: 4px;
  width: 100% !important;
  height: auto !important;
  margin-bottom:12px;
}

@media (max-width: 1100px) {
  .gallery-grid{
   -moz-column-count:    4;
   -webkit-column-count: 4;
   column-count:         4;
  }
}

@media (max-width: 900px) {
  .gallery-grid{
   -moz-column-count:    3;
   -webkit-column-count: 3;
   column-count:         3;
  }
}

@media (max-width: 700px) {
  .gallery-grid{
   -moz-column-count:    2;
   -webkit-column-count: 2;
   column-count:         2;
  }
}

@media (max-width: 400px) {
  .gallery-grid{
   -moz-column-count:    1;
   -webkit-column-count: 1;
   column-count:         1;
  }
}
