.rover-page {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  flex-grow: 1;
  padding: 2rem;
  gap: 5%;
}

.rover-page-left,
.rover-page-right {
  display: flex;
  justify-content: center;
  gap: 2vh;
  height:45%;
}

iframe {
  opacity: 0.85;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
