.user-message {
  margin: 0;
  color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Alien League II';
  font-size: 4rem;
  flex-grow: 1;
  min-width: 26rem;
  min-height: 12rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 12px;
  animation: landing 6s linear infinite;
}

@keyframes landing {
  0% {
    font-size: 1.5rem;
    background-color: Orgba(255, 255, 255, 0.3);
  }

  50% {
    font-size: 2.5rem;
    background-color: Orgba(255, 215, 215, 0.5);
  }

  100% {
    font-size: 1.5rem;
    background-color: Orgba(255, 155, 155, 0.8);
  }
}
