.user-message {
  margin: 0;
  color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Alien League II';
  font-size: 2rem;
  font-weight: bold;
  flex-grow: 1;
  width: 100%;
  min-height: 8rem;
  min-width: 8rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 2rem;
  animation: landing 2s linear infinite;
}

@keyframes landing {
  0% {
    color: #22222235;
  }

  50% {
    color: #222222;
  }

  100% {
    color: #22222235;
  }
}
