form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1.2rem;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

input,
select,
button {
  height: 1.8rem;
  max-width: 15rem;
  min-width: 5rem;
  border: none;
  border-radius: 5px;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-family: 'Red Hat Display', sans-serif;
}

input,
select {
  margin-left: 0.3rem;
}

button {
  font-size: 1.1rem;
  color: #FFFFE7;
  cursor: pointer;
  background-color: #C4532A;
}

button:hover {
  background-color: #DE8F44;
}

label {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
}

@media only screen and (max-width: 1000px) {
  form {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    padding: 1.8rem;
  }

  .input-parent {
    display: flex;
  }

  label {
    flex-shrink: 0;
    width: 6rem;
  }

  input,
  select,
  button {
    max-width: none;
    width: auto;
    flex-grow: 1;
  }
}
