form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  gap: 4vw;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

input,
button {
  height: 1.8rem;
  width: 7rem;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: 'Red Hat Display', sans-serif;
}

input {
  margin-left: 0.3rem;
}

button {
  cursor: pointer;
}

label {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
}

@media only screen and (max-width: 750px) {
  form {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    padding: 1.8rem;
  }

  .input-parent {
    display: flex;
  }

  label {
    width: 6rem;
  }

  input {
    width: auto;
    flex-grow: 1;
  }

  button {
    width: auto;
    flex-grow: 1;
  }
}
